<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% @applications.each do |application| %>
                <div class="well">
                    <%= application.seat_total.to_s %>
                    <%= application.max_price_per_seat.to_s %>
                    <%= application.details %>
                </div>
            <% end %>
        </div>
    </div>
</div>