<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well row">
                <div class="col-sm-2">
                    <h3><i class="fa fa-user-times"></i> <%= @application.seat_total.to_s %></h3>
                </div>
                <div class="col-sm-2">
                    <h3><i class="fa fa-dollar"></i> <%= @application.max_price_per_seat.to_s %> <small>each</small></h3>
                </div>
                <div class="col-sm-8">
                    <p><%= @application.details %></p>
                </div>
            </div>
        </div>
    </div>
</div>