<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <%= @application.seat_total.to_s %>
                <%= @application.max_price_per_seat.to_s %>
                <%= @application.details %>
            </div>
        </div>
    </div>
</div>