<div class="container">
    <%= render "aamenu" %>
    <div class="row">
        <div class="aamenu-jumbo text-center">
            <h1>All Aboard</h1>
            <h3>Find a ride to the island</h3>
            <h3>Or help others get to the island</h3>
            <h4>You can even earn money for your effort if you choose</h4>
            <p>All aboard is a system to link together boat operators with people 
            looking to get to Merasheen Island. The operators may charge money if
            they like however you will have to make you own payment arrangements</p>
        </div>
    </div>
</div>