<div class='home-callout text-center container-fluid'>
    <h2>Merasheen Home Page</h2>
    <h4>Welcome home</h4>
</div>
<% if user_signed_in? %>
    <% if current_user.profile %>
        <%= link_to "Update profile", edit_user_profile_path(user_id: current_user.id) %>
    <% else %>
        <%= link_to "Create profile", new_user_profile_path(user_id: current_user.id) %>
    <% end %>
<% end %>