<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <% @passengers.each do |passenger| %>
                <div class="well row">
                    <%= passenger.title %>
                </div>
            <% end %>
        </div>
        <div class="col-md-1">
            <%= link_to "New Looking for Trip", new_passenger_path, class: "btn btn-primary" %>
            <%= link_to "New Trip", new_trip_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>