<div class="container">
    <div class="row">
        <div class="col-md-12">
            <% @passengers.each do |passenger| %>
                <div class="well row">
                    <%= passenger.title %>
                </div>
            <% end %>
        </div>
    </div>
</div>