<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="text-center">Looking for Ride</h2>
                <h3><%= @passenger.title %></h3>
                <p><%= @passenger.details %></p>
                <h5><%= @passenger.earliestdate.to_s %></h5>
                <h5><%= @passenger.latestdate.to_s %></h5>
            </div>
        </div>
    </div>
</div>