<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <h2 class="text-center">Looking for Ride</h2>
                <h3><%= @passenger.title %></h3>
            </div>
        </div>
    </div>
</div>