<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% @stories.each do |story| %>
                <div class="well row">
                    <h2><%= story.title %></h2>
                </div>
            <% end %>
        </div>
    </div>
</div>