<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <% @stories.each do |story| %>
                <div class="well row">
                    <%= link_to story_path(id: story.id) do %>
                        <h2><%= story.title %></h2>
                    <% end %>
                </div>
            <% end %>
        </div>
        <div class="col-md-1">
            <%= link_to "New Story", new_story_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>